# Supabase PostgreSQL Database Connections
DATABASE_URL="postgresql://postgres.wddrjvrioaijgogmojfa:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.wddrjvrioaijgogmojfa:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"

# NextAuth Authentication Configuration
NEXTAUTH_URL="https://pos-hub.vercel.app"
NEXTAUTH_SECRET="pos-hub-super-secret-jwt-key-2026"

# Supabase API Credentials
NEXT_PUBLIC_SUPABASE_URL="https://wddrjvrioaijgogmojfa.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkZHJqdnJpb2FpamdvZ21vamZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5MTI0NDMsImV4cCI6MjEwMDQ4ODQ0M30.E6gLoHL2N0zJrcPh2_atcm9Wo086Lw-ofALQThEe2G8"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_pa6pNPZ3fMi4JWP-fDmnew_JuD2VPNS"
