# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/
/build/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# SQLite Local Database Files
/prisma/*.db
/prisma/*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & IDE
/.vercel
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*
